@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Manrope", sans-serif;
  --primary-color: rgb(0, 0, 0);
  --secondary-color: #f7f7f7;
  --border-color: rgb(0, 0, 238);
}
